version: '3'
services:

  mysql:
    image: mysql:latest
    environment: 
      - MYSQL_ROOT_PASSWORD=root
    ports:
      - 3306:3306

  activemq:
    image: webcenter/activemq:latest
    ports:
      - 8161:8161

  auth-service:
    image: maven:3.3-jdk-8
    volumes:
      - ./auth-service:/opt/auth-service
    working_dir: /opt/auth-service
    command: mvn spring-boot:run
  
  product-service:
    image: maven:3.3-jdk-8
    volumes:
      - ./product-service:/opt/product-service
    working_dir: /opt/product-service
    command: mvn spring-boot:run

  order-service:
    image: maven:3.3-jdk-8
    volumes:
      - ./order-service:/opt/order-service
    working_dir: /opt/order-service
    command: mvn spring-boot:run
    depends_on: 
      - activemq

  nginx:
    image: nginx
    volumes:
      - ./nginx/html:/usr/share/nginx/html
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    ports:
      - 8888:80
    depends_on:
      - auth-service
      - product-service
      - order-service

  # db:
  #   image: postgres:10.1
  #   volumes:
  #     # Volume dos dados
  #     - dados:/var/lib/postgresql/data
  #     # Scripts
  #     - ./scripts:/scripts
  #     - ./scripts/init.sql:/docker-entrypoint-initdb.d/init.sql
  #   networks:
  #     - banco
  # frontend:
  #   image: nginx:1.13.1
  #   volumes:
  #     # Site
  #     - ./web:/usr/share/nginx/html/
  #     # Configuração do proxy reverso
  #     - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
  #   ports:
  #     - 80:80
  #   networks:
  #     - web
  #   depends_on:
  #     - app
  # app:
  #   image: python:3.6.3
  #   volumes:
  #     # Aplicação
  #     - ./app:/app
  #   working_dir: /app
  #   command: bash ./app.sh
  #   networks:
  #     - banco
  #     - web
  #     - filar
  #     - ./worker:/worker
  #   working_dir: /worker
  #   command: worker.py
  #   networks:
  #     - fila
  #   depends_on:
  #     - queueE=abc_sender
  # queue:
  #   image: redis:3.2
  #   networks:
  #     - fila
  # worker:
  #   build: worker
  #   volumes:
  #     # Worker
  #     - ./worker:/worker
  #   working_dir: /worker
  #   command: worker.py
  #   networks:
  #     - fila
  #   depends_on:
  #     - queue